# Binaries for programs and plugins
# Binaries for programs and plugins
/uploader
*.exe
*.exe~
*.dll
*.so
*.dylib
.out

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# VS Code
.vscode/
.idea

# Token & Secrets
.token.json
token.json
client-secret.json
api-key.json
credentials.json
.dev/
