name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23' # Using a recent Go version

    - name: Install dependencies
      run: go mod download

    - name: Run Tests
      run: go test -v ./...

    - name: Build
      run: go build -v ./cmd/uploader

    - name: Help
      run: ./uploader --help
